node_modules/
test-results/
playwright-report/
.playwright-mcp/evidence/
evidence
.playwright-mcp/*.log
.vscode/test-cases/*.md
.env
.playwright-cli/*.yml
.playwright-cli/*.png
.playwright-cli/console-*.log
